menu "Audio HAL"

choice ESP32_KORVO_DU1906_DAC
    prompt "ESP32 KORVO DU1906 Board DAC chip"
    default ESP32_KORVO_DU1906_CODEC_TAS5805M
    help
        Select DAC chip to use on ESP32_KORVO_DU1906 board

config ESP32_KORVO_DU1906_DAC_TAS5805M
    bool "ESP32_KORVO_DU1906_DAC_TAS5805M"
config ESP32_KORVO_DU1906_DAC_ES7148
    bool "ESP32_KORVO_DU1906_DAC_ES7148"

endchoice

choice ESP32_KORVO_DU1906_ADC
    prompt "ESP32 KORVO DU1906 Board ADC chip"
    default ESP32_KORVO_DU1906_ADC_ES7243
    help
        Select ADC chip to use on ESP32_KORVO_DU1906 board

config ESP32_KORVO_DU1906_ADC_ES7243
    bool "ESP32_KORVO_DU1906_ADC_ES7243"
endchoice

endmenu

