menu "Customer Audio Board"

choice CUSTOMER_AUDIO_BOARD
    prompt "Customer audio board"
    default CUPID_BOARD_V2
    help
        Select an audio board to use with the ESP-ADF

config CUPID_BOARD_V2
    bool "Cupid board v2.0"

config ESP32_KORVO_DU1906_BOARD
    bool "ESP32_KORVO_DU1906"

config MINI_BOARD
    bool "MINI_DU1906"

endchoice

endmenu

